  @font-face {
    font-family: 'MapleMonoExtraLight';
    src: url('/fonts/MapleMono-CN-ExtraLight.ttf') format('truetype');
  }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;

      --radius: 0.5rem;
      --page-max-width-fm: 1300px;
      --primary-fm: #ff4a00;
      --background-fm: #ececec;
      --foreground-fm: #222;
      --radius-md: 0.375rem;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overscroll-behavior: none;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* 使用 --vh 变量 */
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overscroll-behavior-y: contain;
}

body *:focus,
body *:active,
body *:hover {
  outline: none;
}

body .fm{
  background-image: linear-gradient(to bottom right,#f8f8f8,var(--background-fm)20%);
  background-repeat: no-repeat;
  font-family: 'MapleMonoExtraLight', sans-serif !important;
}

body .fm ::before, body .fm ::after{
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-width: 0;
  border-style: solid;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main{
  height: 100vh; /* 此处使用了 vh 单位 */
  height: calc(var(--vh, 1vh) * 100); /* 使用 --vh 变量 */
}

.signmodule .cl-footer div:last-child{
  display: none;
}
.cl-userButtonPopoverRootBox .cl-userButtonPopoverFooter{
  display: none;
}

@keyframes operation-expand-frames {
  0% {
    border-radius: 10rem;
    height: 5rem;
  }
  25%{
    border-radius: 1.5rem;
    height: 10rem;
  }
  100% {
    border-radius: 1.5rem;
    height: 25rem;
  }
}

@keyframes operation-collapse-frames {
  0% {
    border-radius: 1.5rem;
    height: 25rem;
  }
  80% {
    border-radius: 1.5rem;
    height: 5rem;
  }
  100% {
    border-radius: 10rem;
    height: 5rem
  }
}

.image-operation-expand {
  animation: operation-expand-frames 0.3s ease-in-out forwards;
}

.image-operation-collapse {
  animation: operation-collapse-frames 0.5s ease-in-out forwards;
}

.custom-screen {
  @apply max-w-screen-xl mx-auto px-4 md:px-8;
}

.gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(white, white), linear-gradient(25deg, rgba(209, 213, 219, 1), rgba(209, 213, 219, 1), rgba(0, 0, 0, 0.63), rgba(209, 213, 219, 1), rgba(209, 213, 219, 1));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}


.shadow-textarea {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dark .shadow-textarea {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.bg-screen {
  background-color: white;
}

.dark .bg-screen {
  background-color: hsl(var(--card));
}

.Button_LED__yt_Oj {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 2px #0000001c,0 1px 0 0 #ffffff30;
  display: block;
  background-color: rgba(0,0,0,.1);
}

.dark .Button_LED__yt_Oj {
  background-color: rgba(255, 255, 255, 0.2);
}

[data-selected] .Button_LED__yt_Oj {
  background-color: var(--primary-fm);
}

.Button_Button__u2RFO {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  box-shadow: inset 1px 1px 1px 0 rgb(255,255,255),inset -1px -1px 1px 0 rgba(0,0,0,.15),.444584px .444584px .628737px -1px rgba(0,0,0,.26),1.21072px 1.21072px 1.71222px -1.5px rgba(0,0,0,.247),2.6583px 2.6583px 3.75941px -2.25px rgba(0,0,0,.23),5.90083px 5.90083px 8.34503px -3px rgba(0,0,0,.192),10px 10px 21.2132px -3.75px rgba(0,0,0,.056),-.5px -.5px 0 0 rgb(0 0 0/5%);
  padding: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  background: #f4f4f4;
  transition: box-shadow .3s ease;
  font-size: 14px;
  text-transform: none;
}

.dark .Button_Button__u2RFO {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.Button_Button__u2RFO[data-color="default"] {
  background-color: #f4f4f4;
  color: var(--foreground-fm);
}

.dark .Button_Button__u2RFO[data-color="default"] {
  background-color: hsl(var(--card));
  color: white;
}

.Button_Button__u2RFO[data-color="neutral"] {
  background-color: #b1b1b2;
  color: white;
}

.dark .Button_Button__u2RFO[data-color="neutral"] {
  background-color: #505050;
  color: white;
}

.Button_Button__u2RFO[data-color="primary"] {
  background-color: hsl(var(--primary));
  color: white;
}

.Button_Button__u2RFO[data-color="secondary"] {
  background-color: hsl(var(--secondary));
  color: white;
}

.Button_Button__u2RFO[data-color="tertiary"] {
  background-color: hsl(var(--tertiary));
  color: white;
}

.Button_Button__u2RFO[data-selected] {
  box-shadow: inset .5px .5px 1px #fff,inset -.5px -.5px 1px #00000026,.222px .222px .314px -.5px #0003,.605px .605px .856px -1px #0000002e,1.329px 1.329px 1.88px -1.5px #00000040,2.95px 2.95px 4.172px -2px #0000001a,2.5px 2.5px 3px -2.5px #00000026,-.5px -.5px 0 0 rgb(0 0 0/10%)
}

.Footer_Footer__ElFDz {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-fm);
}


@tailwind base;
@tailwind components;
@tailwind utilities;